.btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 50px;
    margin-left: 5px;
    border: 2px solid linear-gradient(90deg, #11998E, #38EF7D);
    font-weight: bold;
    color: white;
}

.get {
    position: relative;
    padding: 20px;
    
}

.get::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(90deg, #11998E, #38EF7D);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}